.lineOne {
  width: 2px; /* Adjust this value as needed */
  height: 55%;
  background-color: #64871c; /* Adjust this color as needed */
  position: absolute;
  left: 25%;
  top: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineOne:before,
.lineOne:after {
  content: "";
  position: absolute;
  background-color: #64871c; /* Adjust this color as needed */
}

.lineOne:before {
  width: 200px; /* Adjust this value as needed */
  height: 2px; /* Adjust this value as needed */
  top: 100%;
  left: 0;
}

.lineOne:after {
  width: 2px; /* Adjust this value as needed */
  height: 75%; /* Adjust this value as needed */
  top: 100%;
  left: 200px; /* Should match the width of the line-container */
}

.lineTwo {
  width: 2px; /* Adjust this value as needed */
  height: 5%;
  background-color: #64871c; /* Adjust this color as needed */
  position: absolute;
  right: 25%;
  top: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineTwo:before,
.lineTwo:after {
  content: "";
  position: absolute;
  background-color: #64871c; /* Adjust this color as needed */
}

.lineTwo:before {
  width: 300px; /* Adjust this value as needed */
  height: 2px; /* Adjust this value as needed */
  top: 100%;
  right: 0;
}

.lineTwo:after {
  width: 2px; /* Adjust this value as needed */
  height: 1000%; /* Adjust this value as needed */
  top: 100%;
  right: 300px; /* Should match the width of the line-container */
}
