.lineOne {
  width: 2px;
  height: 55%;
  background-color: #64871c;
  position: absolute;
  left: 10%;
  top: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineTwo {
  width: 2px;
  height: 35%;
  background-color: #64871c;
  position: absolute;
  right: 5%;
  top: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineThree {
  width: 2px;
  height: 12.5%;
  background-color: #64871c;
  position: absolute;
  right: 45%;
  bottom: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineFour {
  width: 2px;
  height: 17.5%;
  background-color: #64871c;
  position: absolute;
  left: 40%;
  top: 0;
  transform-origin: top left;
  opacity: 0.25;
}

.lineOne:before,
.lineOne:after,
.lineTwo:before,
.lineTwo:after {
  content: "";
  position: absolute;
  background-color: #64871c;
}

.lineOne:before {
  width: 200px;
  height: 2px;
  top: 100%;
  left: 0;
}

.lineOne:after {
  width: 2px;
  height: 100%;
  top: 100%;
  left: 200px;
}

.lineTwo:before {
  width: 300px;
  height: 2px;
  top: 100%;
  right: 0;
}

.lineTwo:after {
  width: 2px;
  height: 100%;
  top: 100%;
  right: 300px;
}
